<div class="top">
    <div class="title-container">
        <p class="title">Meghan Sobel, Ph.D.</p>
        <p class="subtitle">PROFESSOR OF COMMUNICATION</p>
    </div>
    <div class="tabs">
        <p class="nav-tab">About Me</p>
        <p class="nav-tab">Publications</p>
        <p class="nav-tab">Teaching</p>
        <p class="nav-tab">Contact Me</p>
    </div>
</div>
<div class="bottom">
        <img class="img" src="/imgs/MeghanSobel.jpg" alt="Meghan Sobel" />
        <div class="home-content">
            <p class="content-title">PROF. MEGHAN SOBEL</p>
            <div class="underline"></div>
            <p class="about-me">
                I’m an Assistant Professor in the Department of Communication at Regis University. I research global media, human rights and press freedom. I earned a B.A. in Journalism from the University of Colorado at Boulder, an M.A. in International and Intercultural Communication from the University of Denver and a Ph.D. at the University of North Carolina at Chapel Hill. I have worked with anti-human trafficking organizations in the United States and Thailand as well as the United States Department of State in Malawi. I am a Colorado native. I love to travel and am a cupcake enthusiast (and a certified cake decorator!). 
            </p>
        </div>
</div>
